<h1>Welcome to the Space Marine Fighter Batttle RPG</h1>

<% if user_signed_in? %>
<%= link_to 'Start Game', location_path(Location.start_room) %>
<% else %>
<%= link_to 'Sign In', new_user_session_path %>
<% end %>
